{% extends 'base.html' %}
{% block content%}

<!-- 404 error page content -->
<div class="row ml-1">
    <div class="col-sm-6 mb-4">
        <div><h2 class="error-header">404!</h2></div>
        <div class="error-content mt-4">
            <p>Opps we seem to have lost that page</p>
            <p>Lets us help you get back to where you were</p>
            <!-- links to bring user back to the homepage from the error page -->
            <p class="mt-4"><a class="btn purple btn-info" title="Home" href=" {{ url_for('get_books') }} ">Get me Back to Home</a>
        </div>
    </div>
</div>

{% endblock %}