{% extends "base.html" %}
{% block content %}

    <h3 class="purple-text text-darken-4 center-align">Edit Book</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_book', book_id=book._id) }}">
            <!-- Category Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix purple-text text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == book.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Book Category</label>
                </div>
            </div>
            <!-- Book Name Input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix purple-text text-darken-4"></i>
                    <input id="book_name" name="book_name" minlength="3" maxlength="32"
                        value="{{ book.book_name }}" type="text" class="validate" required>
                    <label for="book_name">Book Name</label>
                </div>
            </div>
            <!-- Book Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix purple-text text-darken-4"></i>
                    <textarea id="book_description" name="book_description" minlength="1"
                        maxlength="500" class="materialize-textarea validate" required>
                        {{- book.book_description -}}
                    </textarea>
                    <label for="book_description">Book Description</label>
                </div>
            </div>
            <!-- Date Purchased of Book Picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix purple-text text-darken-4"></i>
                    <input id="date_purchased" name="date_purchased" type="text"
                        value="{{ book.date_purchased }}" class="datepicker validate" required>
                    <label for="date_purchased">Date Purchased</label>
                </div>
            </div>
            <!-- Would Read Again Toggle Switch -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-book-open prefix purple-text text-darken-4"></i>
						<label for="would_read_again">
                            {% if book.would_read_again == "on" %}
                                <input type="checkbox" id="would_read_again" name="would_read_again" checked>
                            {% else %}
                                <input type="checkbox" id="would_read_again" name="would_read_again">
                            {% endif %}
                            <span class="lever"></span>
                            Would read again!
                        </label>
					</div>
				</div>
			</div>
            <!-- Edit Book Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Cancel Edit Button -->
                    <a href="{{ url_for('get_books') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large purple darken-1 text-shadow">
                        Edit Book <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}