{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align purple-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
                <p id="profile-p">
                    Now you can share all your reads for the club to see!
                </p>
                <a href="{{ url_for('add_book') }}" class="btn-large purple small" id="profile-btn">Share Book!</a>
            </div>
        </div>
    </div>

{% endblock %}